
<div class="text-center mt-3" *ngIf="pagination">
    <h2>Your matches - {{pagination.totalItems}} found</h2>
</div>

<div class="container mt-3" *ngIf="userParams">
    <form #form="" class="d-flex mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="d-flex mx-2">
            <label class="col-form-label">Age form: </label>
            <input
                type="number"
                class="form-control ms-1"
                style="width: 70px"
                name="minAge"
                [(ngModel)]="userParams.minAge">
        </div>
        <div class="d-flex mx-2">
            <label class="col-form-label">Age To: </label>
            <input
                type="number"
                class="form-control ms-1"
                style="width: 70px"
                name="maxAge"
                [(ngModel)]="userParams.maxAge">
        </div>

        <div class="d-flex px-2">
            <label class="col-form-label me-2">Show: </label>
            <select
                name="gender"
                style="width: 130px"
                class="form-select ms-1"
                [(ngModel)]="userParams.gender"
            >
                <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
            </select>
        </div>

        <button class="btn btn-primary ms-1">Apply filters</button>
        <button (click)="resetFilters()" class="btn btn-info ms-1">Reset filters</button>

        <div class="col">
            <div class="btn-group float-end">
                <button
                    type="button"
                    class="btn btn-primary"
                    name="orderBy"
                    (click)="loadMembers()"
                    [(ngModel)]="userParams.orderBy"
                    btnRadio="lastActive"
                > Last active
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    name="orderBy"
                    (click)="loadMembers()"
                    [(ngModel)]="userParams.orderBy"
                    btnRadio="created"
                > Newest members
                </button>
            </div>

        </div>

    </form>

</div>

<div class="row">
    <div class="col-2" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>

</div>


<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

    </pagination>
</div>
