.card:hover img{
    transform: scale(1.2, 1.2);
    transition: all 0.5s ease-in-out;
    transition-timing-function: ease-out;
    opacity: .7;
}

.card img{
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper{
    overflow: hidden;
}
